10.0.0.1:80 {
    # reverse_proxy whoami:80

    respond "Hello, pubnet!"
}

10.2.0.1:80 {
    # @whoami host whoami.internal
    # handle @whoami {
    #     reverse_proxy whoami-internal:80
    # }

    respond "Hello, intranet!"
}
