:8080 {
    # reverse_proxy whoami:80

    respond "Hello, pubnet!"
}

:8081 {
    @whoami host whoami.internal
    handle @whoami {
        reverse_proxy whoami-internal:80
    }

    # respond "Hello, intranet!"
}
