// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$theme_fg_color: "@theme_fg_color";
$theme_bg_color: "@theme_bg_color";
$theme_accent_color: "ff7dd6ee";

* {
    font-family: 'Iosevka'
}

window.Bar {
    background: #{$theme_bg_color};
    color: #{$theme_fg_color};
    font-weight: bold;
    border-radius: 8px;
    border-width: 2px;
    border-color: #ff7dd6ee;
    border: #ff7dd6ee;
    margin: 32px;
    padding-right: 0px;
}

/*
// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
*/
