input {
    keyboard {
        xkb {
            layout "se"
        }

        repeat-rate 25
        repeat-delay 250
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        accel-profile "flat"
    }

    trackpoint {
        accel-profile "flat"
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus

    mod-key "Super"
    mod-key-nested "Alt"
}

cursor {
    xcursor-theme "BreezeX-RosePine-Linux"
    xcursor-size 30
}

// Todo: Replace DP-5 with serial
output "DP-5" {
    mode "2560x1440@180.0"
    scale 1
    transform "normal"
    variable-refresh-rate
    position x=0 y=0
}

// Todo: Replace DP-2 with serial
output "DP-2" {
    mode "2560x1440@143.855"
    scale 1
    transform "270"
    position x=2560 y=-560
}

layout {
    gaps 16

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    // preset-window-heights { }
    default-column-width { proportion 0.5; }
    // default-column-width {}

    focus-ring {
        width 2

        // Gruvbox
        active-color "#d3869b"
        inactive-color "#504945"

        // Catppuccin
        // active-color "#cba6f7"
        // inactive-color "#505050"

        // active-gradient from="#80c8ff" to="#c7ff7f" angle=45
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    border {
        off

        width 2

        // Gruvbox
        active-color "#d3869b"
        inactive-color "#504945"
        urgent-color "#fb4934"

        // Catppuccin
        // active-color "#ffc87f"
        // inactive-color "#505050"
        // urgent-color "#9b0000"

        // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    shadow {
        on

        softness 20
        spread 5
        offset x=0 y=0
        color "#000A"
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

// EasyEffects sometimes doesn't seem to start automatically
// so hopefully this fixes that issue so the EQ is applied always.
spawn-sh-at-startup "sleep 3 && easyeffects --hide-window"

// OBS no longer supports the --disable-shutdown-check which breaks
// my startup automation. Deleting the .sentinel directory effectively
// makes OBS forget it was shutdown improperly, which fixes the issue.
spawn-sh-at-startup "rm -rf ~/.config/obs-studio/.sentinel && obs --startreplaybuffer --studio-mode --minimize-to-tray --disable-missing-files-check"

spawn-sh-at-startup "vesktop"
spawn-sh-at-startup "spotify"
spawn-sh-at-startup "sleep 2 && steam" // Delay to make sure xwayland is running
spawn-sh-at-startup "vivaldi"

spawn-sh-at-startup "niri msg action focus-workspace chat"
spawn-sh-at-startup "niri msg action focus-workspace browser"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd
screenshot-path null

animations {
    // slowdown 3.0
}

workspace "work-secondary" {
    open-on-output "DP-2"

    layout {
        default-column-width { proportion 0.5; }
    }
}

workspace "browser" {
    open-on-output "DP-5" // Todo: Replace with serial
}

window-rule {
    match app-id=r#"^vivaldi"# at-startup=true
    default-column-width { proportion 1.0; }
    open-on-workspace "browser"
    open-focused false
}

workspace "work-primary" {
    open-on-output "DP-5"

    layout {
        default-column-width { proportion 0.5; }
    }
}

workspace "gaming" {
    open-on-output "DP-5"

    layout {
        default-column-width { proportion 1.0; }
    }
}

window-rule {
    match app-id=r#"^steam$"# title=r#"^Steam$"#
    default-column-width { proportion 0.85; }
    open-on-workspace "gaming"
    open-focused false
}

window-rule {
    match app-id=r#"^steam$"# title=r#"^Friends List$"#
    default-column-width { proportion 0.15; }
    open-on-workspace "gaming"
    open-focused false
}

workspace "music" {
    open-on-output "DP-5"
}

window-rule {
    match app-id="spotify"
    default-column-width { proportion 1.0; }
    open-on-workspace "music"
    open-focused false
}

workspace "chat" {
    open-on-output "DP-2"

    layout {
        default-column-width { proportion 1.0; }
    }
}

window-rule {
    match app-id="vesktop"
    default-column-width { proportion 1.0; }
    open-on-workspace "chat"
    open-focused false
}

workspace "recording" {
    open-on-output "DP-2"

    layout {
        default-column-width { proportion 1.0; }
    }
}

window-rule {
    match app-id=r#"^com\.obsproject\.Studio$"#
    default-column-width { proportion 1.0; }
    open-on-workspace "recording"
    open-focused false
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="discord"
    match app-id="vesktop"

    block-out-from "screen-capture"
}

window-rule {
    geometry-corner-radius 0 // 12
    clip-to-geometry true
    draw-border-with-background false

    opacity 0.875

    background-effect {
        blur true
    }
}

// Attempt to fix window size bug
window-rule {
    match app-id="Unity" title=r#"^Unity.*$"#
    default-column-width { proportion 1.0; }
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+T hotkey-overlay-title="Open a Terminal: foot" { spawn "foot"; }
    Mod+F hotkey-overlay-title="Open a File Manager: nautilus" { spawn "nautilus"; }
    Mod+Space hotkey-overlay-title="Run an Application: anyrun" { spawn "anyrun"; }

    Mod+Z hotkey-overlay-title="Save OBS Replay: obs-cmd" {
        spawn-sh "obs-cmd --websocket obsws://localhost:4455 replay save";
    }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "blctl" "increase" "10"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "blctl" "decrease" "10"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-column-width-back; }

    Mod+Ctrl+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+Shift+F { maximize-column; }
    Mod+F12 { fullscreen-window; }

    Mod+M { maximize-window-to-edges; }

    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
}
